/*font-family: 'Inconsolata', monospace;
font-family: 'Roboto', sans-serif;*/

#mainSpace {
  margin: 20px auto 160px auto;
}

#charSelectMessage {
  color: #c0392b;
}

#charactersSpace {
  margin-top: 20px;
  height: 100px;
}

#characterSelect,
#charactersSpace {
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
}

#characterOne,
#characterTwo {
    color: #c0392b;
    background-color: #95a5a6;
    border-radius: 25px;
    padding: 20px;
    border: 5px solid #34495e;
}

#userChar,
#enemyChar {
  color: #c0392b;
  background-color: #95a5a6;
  border-radius: 25px;
  padding: 20px;
  border: 5px solid #34495e;
}

.health {
  color: #c0392b;
  background-color: #95a5a6;
  border-radius: 25px;
  padding: 20px;
  border: 5px solid #34495e;
}

#logo {
  width: 350px;
}

#battleFeedback {
  overflow: hidden;
  color: #c0392b;
  background-color: #95a5a6;
  border-radius: 25px;
  padding: 20px;
  height: 165px;
  border: 5px solid #34495e;
}

.characterPic {
  margin-bottom: 15px;
}

.hightlightChar {
  color: #c0392b;
  border: solid 5px #f1c40f !important;
}

#healthBars {
  margin: 20px 0;
}

.instructions {
  color: #c0392b;
  margin-bottom: 15px;
}

body {
  font-size: 19px;
  font-family: 'Bungee', sans-serif;
  background-image: url('../images/apt-5a.jpeg')
}

.characterButtons {
  margin-top: 15px;
}


/****** SPRITES ANIMATION ******/
/*http://blog.teamtreehouse.com/css-sprite-sheet-animations-steps*/
/*https://www.kirupa.com/html5/sprite_sheet_animations_using_only_css.htm*/
 /*SPIRTE GAMES
  http://spritedatabase.net/game/1591
  http://spritedatabase.net/game/20
  */

  /*#userChar {
    height: 500px;
    display: block;
    width: 390px;
    background-image: url('../images/test.png');
    background-repeat: no-repeat;
    animation: play 0.55s steps(4) infinite;
  }

  @keyframes play {
     100% { background-position: -3140px; }
  }*/
